{% extends 'base.html' %}
{% block content %}
    <h2>Products</h2>
    <hr>
    <div class="row">
        {% for product in products %}
        <div class="col-6 text-center">
            <div class="card p-3 my-3">
                <a class="nav-link" href="{% url 'product:product_detail' product.id %}"><h3>{{ product.name }}</h3></a>
                <p class="price">{{ product.price }}</p>
                <p>
                    {{ product.description|safe|truncatewords:'60'|linebreaks }}
                    <a href="{% url 'product:product_detail' product.id %}" class="nav-link">Read more</a>
                </p>
                <p class="vendor">Sold by: {{ product.vendor}}</p>
                <a href="{% url 'cart:add_to_cart' %}?product_id={{ product.id}}" class="btn btn-dark">Add to cart</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
